.new-op {
  transform: translateX(-400px);
}

.height {
  height: 130px;
}

@media screen and (max-width: 968px) {
  .new-op {
    opacity: 1;
    transform: translateX(0);
  }
  .height {
    height: 0;
  }
}
