nav {
  height: 100px;
  /* width: 100%; */
  padding: 0 5%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .img img {
  height: 80px;
}

nav .links .span {
  margin-right: 20px;
  font-size: 18px;
  color: white;
}

nav .links .icon {
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
}

.newshow,
.icons,
nav .links .links-menu {
  display: inline-block;
  transition: all 0.3s ease;
}

.newlinks {
  display: none;
  transition: all 0.3s ease;
}

.links-menu span {
  cursor: pointer;
}

.color {
  color: #fa8352;
}

